gh2 {
    text-align: right;
}
h4 {
    background-color: rgba(45, 45, 45, 0.3);
    text-align: center;
    padding: 3px;
    font-size: 21px;
}
p {
    text-align: justify;
}
header,
footer {
    text-align: center;
    padding: 21px;
    background-color: #121212;
    color: #ffffff;
    border-bottom: 3px solid #999999;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 21px 12px;
}
.gallery::after {
    content: "";
    width: 360px;
}
.links {
    text-align: left;
    opacity: 0.7;
}
.links:hover {
    opacity: 1;
}
#thumbnail {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.21),
        0 6px 6px rgba(0, 0, 0, 0.21);
}
.fullCard {
    width: 210px;
    height: 270px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardContent {
    padding: 3px;
    flex-grow: 1;
}
.cardText {
    margin-bottom: 30px;
}
